body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.displ {
    width: 150px;
    height: 50px;
}

button {
  color: blue;
  width: 50px;
  height: 50px;
}

input {
  width: 50px;
  height: 50px;
}
